*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 微軟正黑體;  

}
nav{
    background: #f9c300;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    height: 120px;
    z-index:  1;
}

#logo img{
width: 80px;
background: #fff;
border-radius: 50%;
padding: 10px;
transition: 1s;
}

nav ol li{
    display: inline-block;
    padding: 30px;
    transition: 0.7s;
}

nav ol lo:hover{
    transform: scale(1.3)
}
nav ol li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}

#banner{
    height: 100vh;
    background-image: url(./img/event.jpeg);
    background-size: cover;
    margin-top: -120px;
    transition:2s;
}

#banner:hover{
    transform:scale(1.15);
}

section h1{
color:#f9c300;
font-size: 32px;
text-align: center;
padding: 50px 0;
}

#month, #partner, #news{
    width: 1000px;
    margin: 0 auto;
}

#partner li{
    margin-left: 20px;
    padding: 10px 0;
}

footer{
    background: #f9c300;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
    margin-top: 150px;
}