*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 微軟正黑體;  

}
nav{
    background: yellow;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
top: 0%;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
height: 120px;
}

#logo img{
width: 80px;
background: #fff;
border-radius: 50%;
padding: 10px;
}

nav ol li{
    display: inline-block;
    padding: 30px;
}

nav ol li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}

#banner{
    height: 100vh;
    background-image: url(./img/event.jpeg);
    background-size: cover;
}

section h1{
color: yellow;
font-size: 32px;
text-align: center;
}

#month, #partner{
    width: 1000px;
    margin: 0 auto;
}